@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.comment-input {
  &__group {
    margin-top: 1rem;
    gap: 1rem;
    border-bottom: 1px solid $mercury;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

    @include tablet {
      margin-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include desktop {
      margin-top: 1.5rem;
      padding-right: 2rem;
      gap: 2rem;
    }
  }

  &__photo {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 1.2rem;
    background-color: $mercury;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 0;
    }
  }

  &__form {
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }

    &-input {
      @include tablet {
        display: flex;
        flex-direction: column;
      }

      label {
        @include mobile-body-demi;
        color: $silver;

        @include tablet {
          @include tablet-desktop-body-demi;
        }
      }

      textarea {
        @include mobile-body-regular;
        width: 95%;
        margin-bottom: 1rem;
        padding: 0.34rem;
        border: 1px solid $mercury;
        border-radius: 4px;
        background-color: $alabaster;
        height: 6.406rem;
        resize: none;

        @include tablet {
          padding: 0.5rem 0.5rem;
          height: 1.4rem;
          width: 25.5rem;
          @include tablet-desktop-body-regular;
        }
      }
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 0.75rem;
      background-color: $brainflix-blue;
      color: $white;
      width: 100%;
      align-items: center;
      @include mobile-label-buttons;

      @include tablet {
        width: 214px;
        margin-top: 6px;
      }

      img {
        float: left;
      }
    }

    button:hover {
      background-color: $brainflix-darkblue;
    }
  }
}
