@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.video {
  &__title {
    @include mobile-header-bold;
    padding-bottom: 1rem;

    @include tablet {
      @include tablet-desktop-header-bold;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__statistics {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    display: flex;
    flex-direction: row;

    @include tablet {
      padding-top: 0;
      border-top: 0;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__channel-date {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__channel {
    @include mobile-subheader-bold;

    @include tablet {
      @include tablet-desktop-body-demi;
    }
  }

  &__date {
    @include mobile-body-regular;
    color: $silver;

    @include tablet {
      @include tablet-desktop-body-regular;
    }
  }

  &__likes-view {
    @include mobile-body-regular;
    color: $silver;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      @include tablet-desktop-body-regular;
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 2rem;
    }
  }

  &__view {
    display: flex;
    gap: 0.5rem;
  }

  &__likes {
    padding-left: 0.25rem;
    display: flex;
    gap: 0.7rem;
  }

  &__description {
    margin-top: 1rem;
    @include mobile-body-regular;

    @include tablet {
      margin-top: 1.5rem;
      @include tablet-desktop-body-regular;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }
}
