@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.main {
  &__video {
    background-color: $brainflix-darkblack;
    display: flex;
    justify-content: center;

    video {
      width: 100%;

      @include tablet {
        width: 94%;
      }

      @include desktop {
        width: 75%;
      }
    }
  }
  &__wrapper {
    margin: 1.5rem 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin: 2.25rem 1.5rem;
    }

    @include desktop {
      margin: 2.25rem 5rem;
      display: flex;
      flex-direction: row;
    }
  }

  &__additional {
    @include desktop {
      width: 66%;
      border-right: 1px solid $mercury;
    }
  }
}
