@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.video-list {
  a {
    text-decoration: none;
    color: $brainflix-darkblack;
  }
  padding-top: 1.5rem;

  @include tablet {
    padding-top: 1.5rem;
  }

  @include desktop {
    padding-top: 0;
    padding-left: 1.5rem;
  }

  &__title {
    @include mobile-body-demi;
    color: $silver;
    padding-bottom: 1rem;

    @include tablet {
      @include tablet-desktop-body-demi;
    }
  }
  &__list {
    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }
  &__video {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    @include desktop {
      padding-bottom: 1.5rem;
    }
  }

  &__img {
    cursor: pointer;
    width: 6.875rem;
    border-radius: 4px;
    background-color: $mercury;

    @include tablet {
      width: 8rem;
    }

    @include desktop {
      width: 9rem;
    }
  }

  &__title-channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    @include mobile-body-regular;

    @include tablet {
      @include tablet-desktop-body-regular;
    }
  }

  &__video-title {
    cursor: pointer;
    @include mobile-body-demi;
    @include tablet {
      @include tablet-desktop-body-demi;
    }
  }

  &__video-channel {
    cursor: pointer;
  }
}
