//breakpoints

$desktop-breakpoint: 80rem; // 1280px
$tablet-breakpoint: 48rem; // 768px

//colors
//Primary-colors

$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

//secondary-colors

$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//font-weights

$regular: 400;
$demi: 600;
$bold: 700;
