@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.comments {
  margin-top: 1rem;

  @include mobile-body-regular;

  @include tablet {
    margin-top: 1.5rem;

    @include tablet-desktop-body-regular;
  }

  &__counts {
    @include mobile-body-demi;

    @include tablet {
      @include tablet-desktop-body-demi;
    }
  }

  &__exists {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
      padding: 1.5rem 0;
    }

    @include desktop {
      padding: 1.5rem 2rem 1.5rem 0;
    }
  }

  &__exists:last-of-type {
    @include desktop {
      border-bottom: none;
    }
  }
  &__img {
    height: 2.25rem;
    width: 2.25rem;
    background-color: $mercury;
    border-radius: 50%;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__name-date {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  &__name {
    @include mobile-body-demi;

    @include tablet {
      @include tablet-desktop-body-demi;
    }
  }

  &__date {
    color: $silver;

    @include tablet {
      @include tablet-desktop-body-regular;
    }
  }
}
